{% extends 'director/base.html' %}

{% block content %}

    <div id="loginForm" class="mainForm shadow p-3 bg-white rounded">

        <div class="content">

            <h2 class="locatedCenter">Регистрация:</h2>
            <hr class="indentation">

            <form method="post" action="registration">
              {% csrf_token %}
              <div class="form-group">
                <label for="exampleInputEmail1">Имя пользователя:</label>
                <input type="text" class="form-control" placeholder="Введите имя пользователя" name="login">
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Пароль:</label>
                <input type="password" class="form-control" placeholder="Введите пароль" name="password">
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">ФИО:</label>
                <input type="text" class="form-control" placeholder="Инициаллы" name="name">
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Должность:</label>
                <input type="text" class="form-control" placeholder="Введите ваши должности через запятую" name="position">
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Группа:</label>
                <input type="text" class="form-control" placeholder="Введите ваши группы через запятую" name="group">
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Отдел:</label>
                <input type="text" class="form-control" placeholder="Введите ваши отделы через запятую" name="depart">
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Центр:</label>
                <input type="text" class="form-control" placeholder="Введите ваши центры через запятую" name="center">
              </div>

              <div class="locatedCenterBlock">
                <button id="some"  type="submit" class="btn btn-outline-primary">Вход в систему</button>
              </div>

              <div class="locatedCenterBlock">
                <button id="some" type="submit" class="btn btn-primary">Регистрация</button>
              </div>

            </form>

        </div>       

    </div>

{% endblock %}