{% extends 'director/base.html' %}

{% block content %}

    <nav class="navbar navbar-expand-sm navbar-light bg-primary fixed-top " id="navbar-example">

      <a id="programName" class="navbar-brand text-light" href="#">ДИ Консруктор</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarsExample03">

        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a class="nav-link text-light" href="#Home">Создание файла<span class="sr-only">(current)</span></a>
          </li>

        </ul>

        <form class="form-inline my-2 my-md-0">

          <button class="btn btn-danger my-2 my-sm-0" type="submit">Выйти</button>

        </form>

      </div>

    </nav>




    <div id="storageForm" class="shadow p-3 bg-white rounded">

        <div class="content">

          <h2 class="locatedCenter">История ДИ:</h2>
          <hr class="indentation">

          <div class="containerText">
            <div><p class="locatedCenterY">Иванов Иван Иванович</p></div>
            <div class="containerTextElement"><p class="textElement">Стажер</p></div>
            <div class="borderRight containerTextElement"><p>Front-end разработчик</p></div>

            <div class="containerButton"><div class="indentUp">
              <button type="submit" class="btn btn-secondary">Редактировать</button>
              <button type="submit" class="btn btn-primary">word</button>
              <button type="submit" class="btn btn-danger">pdf</button>
            </div></div>

          </div>

          <hr class="indentation">

          <div class="containerText">
            <div><p class="locatedCenterY">Петров Петр Петрович</p></div>
            <div class="containerTextElement"><p class="textElement">Архитектор</p></div>
            <div class="borderRight containerTextElement"><p>Backend разработчик</p></div>

            <div class="containerButton"><div class="indentUp">
              <button type="submit" class="btn btn-secondary">Редактировать</button>
              <button type="submit" class="btn btn-primary">word</button>
              <button type="submit" class="btn btn-danger">pdf</button>
            </div></div>

          </div>

          <hr class="indentation">

          <div class="containerText">
            <div><p class="locatedCenterY">Макаров Марк Маркович</p></div>
            <div class="containerTextElement"><p class="textElement">Ведущий специалист</p></div>
            <div class="borderRight containerTextElement"><p>Data Scientist</p></div>

            <div class="containerButton"><div class="indentUp">
              <button type="submit" class="btn btn-secondary">Редактировать</button>
              <button type="submit" class="btn btn-primary">word</button>
              <button type="submit" class="btn btn-danger">pdf</button>
            </div></div>

          </div>

          <hr class="indentation">

          <div class="containerText">
            <div><p class="locatedCenterY">Егоров Егор Егорыч</p></div>
            <div class="containerTextElement"><p class="textElement">Эксперт</p></div>
            <div class="borderRight containerTextElement"><p>Тестировщик ПО</p></div>

            <div class="containerButton"><div class="indentUp">
              <button type="submit" class="btn btn-secondary">Редактировать</button>
              <button type="submit" class="btn btn-primary">word</button>
              <button type="submit" class="btn btn-danger">pdf</button>
            </div></div>

          </div>

        </div>       

    </div>

    
{% endblock %}
